* {
    box-sizing: border-box;
}
body {
    background-image: url(image/snow.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}
h1 {
    font-weight: normal;
    font-size: 4rem;
    margin: 80px;
}
.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-e1 {
    text-align: center;
}
.countdown-e1 span {
    font-size: 1.5rem;
}